a {
	text-decoration: none;

}

li{
	list-style: none;
	margin: 20px;
}

.OnlineCheat{
	color: red;
	font-size: 20px;
}

.OnlineCheat:hover{
	color:blue;
}

.FlexboxCheat{
	transition: 

}
.FlexboxCheat:hover{

	width: 400px;
}


#color-box {
   width: 150px;
   height: 150px;
   margin-bottom: 10px;
   background-color: blue;
   
   transition: width 500ms, height 500ms, background-color 1s, border-radius 700ms;
}

#color-box:hover {
	width: 200px;
    height: 200px;
    border-radius: 15px;
	background-color: red;
	
}

#rotation-box {
   width: 150px;
   height: 150px;
   background-color: black;
   border-radius: 5px;
   transition:  background-color 700ms, transform 700ms;
}

#rotation-box:hover {
	
	background-color: white;
	transform: rotate(360deg);
}